section{
    padding: 2rem;
}
.sectionheader{
    display: flex;
    justify-content: space-between;
    padding-bottom: 0.5rem;
    gap: 3rem;
    align-items: center;
}
.python{
    width: 60px;
}
.title{
    margin-right: auto;
    font-size: 40px;
    font-family: 'Courier New', Courier, monospace;
}
.subtitle{
    font-size: 18px;
    font-weight: bold;
    color: rgb(126, 126, 126);
    font-family: 'Poppins', sans-serif;
}
.sectionheader a{
    padding: 10px;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    background-image: var(--gradient);
    background-size: 300%;
    background-position-x: left;
    transition-duration: 0.3s;
}
.sectionheader a:hover{ 
    background-position-x: right;
}
.sectioncontent{
    max-width: 80vw;
    margin: 0 10vw;
    padding-top: 2rem;
    font-family: 'Poppins', sans-serif;
}
.sectioncontent code{
    font-size: 15px;
    color: dodgerblue;
}
.sectioncontent p {
    margin-top: 8px;
}
.warning{
    color: rgb(255, 82, 51);
    background-color: rgba(255, 99, 71, 0.24);
}
.sectioncontent ul{
    list-style: none;
}
table, th, tr, td{
    border: 1px solid black;
    padding: 2px;
}
.tabela{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 1rem 0;
}