section{

}
.sectionheader{
    display: flex;
    justify-content: space-between;
    padding: 2rem;
    gap: 3rem;
    align-items: center;
}
.python{
    width: 60px;
}
.title{
    margin-right: auto;
    font-size: 40px;
    font-family: 'Courier New', Courier, monospace;
}
.sectionheader a{
    padding: 10px;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    background-image: var(--gradient);
    background-size: 300%;
    background-position-x: left;
    transition-duration: 0.3s;
}
.sectionheader a:hover{
    background-position-x: right;
}