@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,300;0,400;0,700;1,400&display=swap');

:root{
    --gradient: linear-gradient(to right,#45abaf, #30b7ec, #3b4fff);
}
*{
    padding: 0; margin: 0;
}
body{
    background-color: rgb(255, 255, 255);
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}
header{
    height: 10vh;
    background-color: rgb(14, 24, 24);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
}
footer{
    height: 5vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(14, 24, 24);
    color: white;
    text-align: center;
    font-family: 'Poppins', sans-serif;
    padding: 16px;
}
.headerlogo{
    padding: 2px;
    display: flex;
    align-items: center;
    gap: 8px;
    text-decoration: none;
    height: 100%;
    width: fit-content;
    border-radius: 10px;
    transition-duration: 0.3s;
}
.headerlogo:hover{
    background-color: rgb(48, 48, 63);
}
.headerlogo img{
    height: 8vh;
}
.headerlogo p {
    color: white;
    font-family: 'Courier New', Courier, monospace;
    font-weight: bolder;
    font-size: 4vh;
}
.lang-dropdown{
    flex-shrink: 0;
    padding: 4px;
    cursor: pointer;
    margin-right: 1vw;
    border-radius: 8px;
    position: relative;
    display: inline-block;
    transition-duration: 0.2s;
}
.lang-dropdown img{
    padding-left: 2vw;
    padding-right: 2vw;
}
.lang-dropdown-content{
    display: none;
    position: absolute;
    background-color: white;
    min-width: 6vw;
    height: fit-content;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}
.lang-dropdown-content a{
    text-decoration: none;
    padding: 10px;
    font-family: 'Courier New', Courier, monospace;
    color: black;
}
.lang-dropdown-content a:hover{
    background-color: whitesmoke;
}
.lang-dropdown:hover .lang-dropdown-content{
    display: flex;
    flex-direction: column;
}
.lang-dropdown:hover{
    background-color: rgb(48, 48, 63);
}
.content{
    padding: 2rem;
    height: fit-content;
    display: flex;
    justify-content: space-between;
    gap: 2rem;
    flex-wrap: wrap;
}
.card{
    padding: 10px;
    width: 350px;
    height: 250px;
    border-radius: 10px;
    border: 1px solid black;
    box-shadow: 5px 10px 3px rgba(0, 0, 0, 0.397);
    display: flex;
    flex-direction: column;
    gap: 8px;
}
.card div{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.card button{
    margin-top: auto;
    font-family: 'Poppins', sans-serif;
    cursor: pointer;
}
.cardtitle{
    font-size: 30px;
    font-family: 'Courier New', Courier, monospace;
}
.cardtext{
    font-family: 'Poppins', sans-serif;
}
.card a{
    padding: 10px;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    background-image: var(--gradient);
    background-size: 300%;
    background-position-x: left;
    transition-duration: 0.3s;
}
.card a:hover{
    background-position-x: right;
}