.content{
    padding: 2rem;
    height: fit-content;
    display: flex;
    justify-content: space-between;
    gap: 2rem;
    flex-wrap: wrap;
}
.card{
    padding: 10px;
    width: 350px;
    height: 250px;
    border-radius: 10px;
    border: 1px solid black;
    box-shadow: 5px 10px 3px rgba(0, 0, 0, 0.397);
    display: flex;
    flex-direction: column;
    gap: 8px;
}
.card div{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.card button{
    margin-top: auto;
    font-family: 'Poppins', sans-serif;
    cursor: pointer;
}
.cardtitle{
    font-size: 30px;
    font-family: 'Courier New', Courier, monospace;
}
.cardtext{
    font-family: 'Poppins', sans-serif;
}
.card a{
    padding: 10px;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    background-image: var(--gradient);
    background-size: 300%;
    background-position-x: left;
    transition-duration: 0.3s;
}
.card a:hover{
    background-position-x: right;
}